body {font-family: 'Open Sans', sans-serif;}

#date{
	width: 100%;
	height: 100%;
	border-bottom: dotted #CE062B;
}

.day{
	font-size: 22px;
	font-weight: bold;
}

.jour{
	color: #CE062B;
	font-size: 20px;
}

.grid{
	display: flex;
	width: 100%;
	height: 100%;
}

.day_event{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 100%;
	border-bottom: solid #F5F5F5;
}

.heure{
	padding: 20px;
	border-right: solid #F5F5F5;
}

.event{
	font-size: 20px;
	font-weight: bold;
	padding: 20px;
	padding-right: 1000px;
	background-color: #cbe1b6;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 12px;
    color: #3f8a30;
    /* agrandir background vert*/
}

.no_event{
	display: none;
}