a
{
  color:#fff;
  text-decoration:none;

}


.menu
{
  background:#ce062B;
  color:#fff;
  height:50px;
  position:absolute;
  top: 0px;
  z-index: 1;


}

.menu .title
{
  font-size:30px;
  font-weight:bold;
  line-height:50px;
  text-transform:uppercase;
}

.menu nav
{
  background:inherit;
  font-size:20px;
  font-weight:bold;
  height:0;
  overflow:hidden;
  text-transform:uppercase;
  transition:height .2s;
}

.menu nav > *
{
  display:block;
  letter-spacing:1px;
  line-height:2.5;
  padding:0 20px;
  width:100%;
}

.menu nav input
{
  background:rgba(0,0,0,.2);
  border:none;
  color:#fff;
}

.menu .burger
{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  color:inherit;
  cursor:pointer;
  font-family: 'Roboto', sans-serif;
  font-size:30px;
  line-height:50px;
  
  text-align:center;

  width:300px;
}

.menu .burger:before
{
  content:"Coding Factory";
}

.menu .burger:checked:before
{
  content:'X';
}

.menu .burger:checked + nav
{
  height:calc(90vh);
}
