

.envoyer{

	color: white;
	background-color: #CE062B;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 10px;
	border-radius: 20px;
	padding: 15px;

}


#form{

	border: 4px #CE062B groove;
    border-radius:15px;
	box-shadow: 2px 2px 2px black;
	background-color: white;

	
	margin:auto;
	margin-left: 250px;
	margin-right:250px;
	margin-top: 16px;
	text-align: center;

	justify-content: center;
	align-items: center;
	min-width: 150px;

}


h1{ 

	text-align: center;
	text-decoration:underline;
	color:#CE062B;


 }


 textarea {
      width:600px;
      height: 200px;

}


@media screen and (max-width: 1130px){
    textarea {
      width:100px;
      height: 100px;
}

	.info{

		max-width: 400px; 
	}



	.responsive{

		min-width: 
	}

	h1{ 
		display: none;

	 }

	 #form{

	 	margin-top: 200px;
	 	margin-left: 135px;
	 }


