.head{
    width:100%;
	background-color: #ce062B;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    height: 50px;
    padding-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    
}


.CodingFactory {
    font-size: 20px;
}
body {
    padding: 0;
}


.navigation {
    text-align: center;
    padding-left: 250px;
}

.adress {
    margin-right: 15px;
}

.foot{ 
    width:100%;
    background-color: #F5F5F5;
    color: #ce062B;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    left: 0px;
    bottom: 0px;
    margin-top: 30px;
    padding-top: 5px;

}
.link{
    color: blue;
}

* {
    margin: 0px;
}



@media screen and (max-width: 1000px){ 

    .adress{

        display: none;
    }


    .navigation{
        display: none;
    }








`


 }